<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.entertech.edevn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EDEVN">
        <activity android:name=".Activity.DrawerActivity"/>
        <activity android:name=".Activity.MainActivity"/>
        <activity android:name=".Activity.LiveClassActivity" />
        <activity android:name=".Activity.BookNowActivity" />
        <activity android:name=".Activity.ViewProfileActivity" />
        <activity android:name=".Activity.UpdateProfileActivity" />
        <activity android:name=".Activity.SubjectDetailsActivity" />
        <activity android:name=".Activity.FreeLiveClassActivity" />
        <activity android:name=".Activity.ClassSelectedActivity" />
        <activity android:name=".Activity.OTPVerificationActivity" />
        <activity android:name=".Activity.LoaderVerificationActivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.LoaderClassRoomActivity" />
        <activity android:name=".Activity.WelcomeActivity" />
        <activity android:name=".Activity.VerificationActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.ClassSelectActivity" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>